<% unless current_user == @user %>
  <div id="friend_form">
    <% if @user.friends.include?(current_user) %>
      <p>You're friends!</p>
      <%# unfriend button goes here %>
    <% else %>
      <% if current_user.requested_friends.include?(@user) %>
        <%= render 'cancel_friend' %>
      <% else %>
        <% if current_user.requesting_friends.include?(@user) %>
          <%= "#{@user.name} wants to be your friend" %>
          <%= render partial: 'users/accept_friend', locals: {sender_id: @user.id} %>
          <%= render partial: 'users/decline_friend', locals: {sender_id: @user.id} %>
        <% else %>
          <%= render 'send_friend' %>
        <% end %>
      <% end %>  
    <% end %>
  </div>
<% end %>