<h1><%= @user.name %>'s Page</h1>

<% if @user.image %>
    <%= image_tag "#{@user.image}/?type=normal" %>
<% else %>
    <%= gravatar_for @user %>
<% end %>

<%= render partial: 'friendship_form', locals: { user: @user }%>  

<%= render @user.posts %>